.App {
  text-align: center;
  margin: auto 120px auto 120px ;
}
.logo{
  margin-left: -8%;
  margin-top: -2%;
  float:left;
}

.Add-Global{
  width: 100%;
  position:static;
}

.infoPerso{
  margin-left: 5%;
  width: 90%;
  height: 95px;
  position:static;
  overflow: hidden;
  background-color:  #B6E4DD; 
  box-shadow: 5px 5px 5px #888888;
}

.CheckBox{
  font-family: Noto Sans, sans-serif;
  font-weight: 300;
  color: #2E2E2E;
  font-size: 18px;
  text-align: left;
  width: 20%;
  float:left;
  margin-left: 10%;

}

/* radiobutton custom*/
.radiobutton{
  margin-left:20px;
  position:relative;
  cursor: pointer;
}

.radiobutton + .radiobutton{
  /*margin-left: 20px;*/
}

.radiobutton input[type="radio"]{
  display: none;
  }

.radiobutton span{
  height: 10px;
  width:10px;
  border-radius: 50%;
  border: 2px solid #2E2E2E ;
  display: block;
  float:left;
  display: inline;
  position: absolute;
  left: -22px;
  top:4px;
}

.radiobutton span:after{
  content: "";
  height: 8px;
  width: 8px;
  background: #2E2E2E;
  display:block;
  position:absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%) scale(0);
  border-radius: 50%;
  transition: 300ms ease-in-out 0s;

}
.radiobutton input[type="radio"]:checked ~ span:after{
  transform: translate(-50%,-50%) scale(1);
}


.taille{
  width: 17%;  
  float:left;
}

.poids{
  width: 17%;  
  float:left;
}


.age{
  width: 17%;  
  float:left;
}

.tailleItem{
  width: 40%;
  height: 18px;
  margin-left: 10px;
  outline: none;
  list-style-type: none;
  border: 1px solid #565656;
  box-shadow:0 0 0 1px rgba(0,0,0,.1),9 2px 4px 1px rgba(0,0,0,.18);
  font-family: Noto Sans, sans-serif;
  font-size: 14px;
  color: rgba(0,0,0,0.73);
  float:left;
}

.poidsItem{
  width: 40%;
  height: 18px;
  margin-left: 10px;
  outline: none;
  list-style-type: none;
  border: 1px solid #565656;
  box-shadow:0 0 0 1px rgba(0,0,0,.1),9 2px 4px 1px rgba(0,0,0,.18);
  font-family: Noto Sans, sans-serif;
  font-size: 14px;
  color: rgba(0,0,0,0.73);
  float:left;
}

.ageItem{
  width: 40%;
  height: 18px;
  margin-left: 10px;
  outline: none;
  list-style-type: none;
  border: 1px solid #565656;
  box-shadow:0 0 0 1px rgba(0,0,0,.1),9 2px 4px 1px rgba(0,0,0,.18);
  font-family: Noto Sans, sans-serif;
  font-size: 14px;
  color: rgba(0,0,0,0.73);
  float:left;
}
.add-mb{
    background: white;
    border: 1.5px solid #2E2E2E;
    font-size: 15px;
    color: #262626;
    margin-top: 21px;
    width: 90px;
    height: 30px;
    float:left;
    background-color:  #C8FDF4; 
    box-shadow: 2px 2px 4px #888888;
   
}

.infoList{
  width: 90%;
  height: 95px;
  margin-left: 5%;
  /*position:static;*/
  /*overflow: auto;*/
  background-color:  #B6E4DD; 
  box-shadow: 5px 5px 5px #888888;
  z-index: -1;
}

.App-Component {
  width:40%;
  margin-left: 8%;
  margin-right: 8%;
  position:relative;
  float:left;
}

.Add-Quantity{
  margin-left: 2%;
  width:25%;
  float:left;
}

.quantity{
    width: 40%;
    height: 18px;
    margin-left: 10px;
    outline: none;
    list-style-type: none;
    border: 1px solid #565656;
    box-shadow:0 0 0 1px rgba(0,0,0,.1),9 2px 4px 1px rgba(0,0,0,.18);
    font-family: Noto Sans, sans-serif;
    font-size: 14px;
    color: rgba(0,0,0,0.73);
    float:left;
}

.add-btn{
    background: white;
    border: 1.5px solid #2E2E2E;
    font-size: 15px;
    color: #2E2E2E;
    margin-top: -5px;
    width: 90px;
    height: 30px;
    float:right;
    margin-right: -30%;
    background-color:  #C8FDF4; 
    box-shadow: 2px 2px 4px #888888;
   
}
.quantity-text{
  margin-right: 20%;
}


.Interaction-part{
  /*margin: auto auto auto 20px ;*/
}

.ListAliments{
  margin: 30px 30px 30px 5%;
  width:90%;
  font-family: Noto Sans, sans-serif;
  overflow: hidden;
  background-color:  #B6E4DD; 
  box-shadow: 5px 5px 5px #888888;
} 
.delete-btn{
    background: white;
    border: 1.5px solid #2E2E2E;
    font-size: 15px;
    color: #2E2E2E;
    width: 90px;
    height: 30px;
    /*margin: -3px auto auto 100px;*/
    float:right;
    margin-top: -15px;
    margin-right: 15%;
    background-color:  #C8FDF4; 
    box-shadow: 2px 2px 4px #888888;
    
}

.ListResultat{
    margin: 0px 0px 0px 5%;
    font-family: Noto Sans, sans-serif;
    width: 90%;
    overflow: hidden;
    background-color:  #B6E4DD; 
    box-shadow: 5px 5px 5px #888888;
}

.ListNutriments{
    width: 35%;
    float:left;
    /*background-color: #a1ffea;*/
    
}

.ListApport{
    width: 19%;  
    /*margin-left:1%;*/
    float:left;
    /*background-color: #fdf8a0;*/
  
}

.ListRecommendations{
    width: 23%;  
    /*margin-left:1%;*/
    float:left;
    /*background-color: #bed4fe;*/


}

.ListPourcentage{
    width: 18%;  
    /*margin-left:1%;*/
    float:left;
    /*background-color: #ffb6ff;*/
    
}

.App ul {
  list-style-type: none;
  text-align: left;
  margin:0;
  padding:0;
}

.App li {
  list-style-type: none;
  margin-right: 10;
}



.list{
    width:100%;
    margin: 12px 0px 10px 50px;
    font-size: 15px;
    font-weight: 300;
    /*color: #7e7e7e;*/
    color: #565656;

}

.app-text{
    font-family: Noto Sans, sans-serif;
    font-weight: 300;
    margin: 0px auto 5px 10px;
    text-align: left;
    color: #2E2E2E;
    font-size: 18px;
    z-index: 1;
}
.list-text{
    font-family: Noto Sans, sans-serif;
    font-weight: 300;
    margin: 0px auto 10px 30px;
    text-align: left;
    color: #2E2E2E;
    font-size:18px;
    z-index: 1;
}

.app-title{
    font-family: Noto Sans, sans-serif;
    font-weight: 200;
    text-align: center;
    color: #565656;
    font-size: 30px;
}

