.AutoCompleteText {
  width:99%;
  border: 1px solid #565656;
  box-shadow: 0 0 0 5px rgba(0,0,0,.1),9 20px 32px 1px rgba(0,0,0,.18);
  font-family: Noto Sans, sans-serif;
  font-size: 14px;
  color: #7e7e7e;;
  margin: auto auto auto 10px;
  background-color: white;
  height:20px;
}

.AutoCompleteText input {
  width: 100%;
  border: none;
  font-family: Noto Sans, sans-serif;
  font-size: 14px;
  color: #7e7e7e;
  box-sizing: border-box;
  outline: none;
  margin: 1px 0px 0px 0px;

}

.AutoCompleteText ul {
  width: 100%;
  list-style-type: none;
  text-align: left;
  margin-left: -1px;
  overflow-y: auto;
  border: 1px solid #565656;
  background-color: white;

  
}

.AutoCompleteText ul::before {
  content:"";
}

.AutoCompleteText li {
  padding: 10px 5px;
  cursor: pointer;

}

.AutoCompleteText li:hover{
  text-decoration: underline;
  background-color: rgba(128,128,128,0.2);
}
