/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/

code {
  font-family: Gothic L, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

body{
    background: white;/*#C8FDF4;*/

    font-family: 'Gothic L', sans-serif;
    font-size: 20px;
    margin-top: 50px;
}

